@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




* {
    margin: 0;
    padding: 0;
}



body {
    width: 1440px;
    background-color: white;
    /* css3 -->box siz */
    box-sizing: border-box;
    font-family: 'raleway', arial;
    padding-top: 10px;
}
#corps{
    margin: 0 auto;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
}



nav a {
    text-decoration: none;
    color: black;
    padding-right: 35px;
    padding-left: 35px;
}
.sector h1{
    font-size: 2em;
}
nav a:hover {
    border-top: 1px #0065Fc solid;
    padding-top: 30px;
    color: #0065Fc;
}

/* recherche */
#searchbar {
    display: inline-flex;
    height: auto;
    padding-top: 15px;
}

#searchbar .fas {
    width: 20px;
    height: 40px;
    margin-left: 15px;
    margin-top: 11px;
}

#searchbar .text {
    display: inline-flex;
    height: 38.75px;
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    flex: 20%;
    margin-right: -5px;
    border: 1px solid #F2F2F2;
}

#searchbar .champ {
    height: 37px;
    text-align: left;
    border: 1px solid #F2F2F2;
    font-weight: bold;
    margin-right: -5px;
    padding-left: 5px;
}


#searchbar .bouton {
    font-weight: bold;
    background-color: #0065Fc;
    border: 1px solid #0065Fc;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    flex: 40%;
    height: 40px;
    border: none;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
}
button:before{
    content: "Rechercher";
}


/* Filtre */
#filtres {
    display: flex;
   
}

#filtres h2 {
    margin-right: 20px;
    font-size: 120%;
    margin-top: 10px;
}

#filtres .economique {
    height: 40px;
    display: flex;
    background-color: white;
    border: 2px solid #F2F2F2;
    font-weight: bold;
    padding-right: 30px;
    border-radius: 40px;
    margin-right: 20px;
    align-items: center;
}

#filtres .fas {
    border-radius: 40px;
    background-color: #DEEBFF;
    height: 44px;
    width: 44px;
    margin-right: 20px;
    margin-left: -2px;
    color: #0065Fc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

#filtres .economique:hover {
    background-color: #DEEBFF;
    border: #DEEBFF;
}

/* logement petit i */
.floyd {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.floyd .fas {
    display: flex;
    border-radius: 30px;
    border: solid 2px #F2F2F2;
    height: 30px;
    width: 38px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    color: #0065Fc;
}

.floyd .tetest{
    display: flex;
    
}

/* cardbox */
.cardcard {
    display: flex;
}
#cardbox {
    display: flex;
    flex: 75%;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 20px;
    height: 702px;
    align-items: center;
    padding: 20px;
}
#cardbox h2 {
    width: 100%;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
}
#cardbox .teste {
    display: flex;
    flex-wrap: wrap;
}
#cardbox h3 {
    width: 100%;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#cardbox .card {
    flex: 25%;
    /* background-color: white;  */
    border-radius: 20px;
    margin: 15px;
    /* border: solid 5px white; */
    box-shadow: 5px 2px 5px #e4e4e4;
    padding: 5px;
}
#cardbox .card img {
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 150px;
}
strong {
    font-weight: bold;
}

#cardbox p, #cardbox .choco {
    margin: 8px;
}

#cardbox h4 {
    margin-left: 8px;
    margin-top: 8px;
}

.un {
    color: #e4e4e4;
}

.dos {
    color: #0065Fc;
}





/* popubox */
#popubox .card img {
    
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 100%;
    
}

#popubox .card-image{
    flex: 30%;
}
#popubox {
    flex: 30%;
    justify-content: space-around;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#popubox h2 {
    flex: 100%;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-top: 45px;
}

#popubox .courbe{
    display: flex;
    align-items:center;
    margin-top: -20px;
}
.courbe .fas{
  
    font-size: 150%;
    margin-top: 24px;
    margin-right: 28px;
    
}

#popubox .card {
    display: flex;
    flex: 100%;
    background-color: white;
    border-radius: 20px;
    margin: 30px;
    box-shadow: 5px 2px 5px #e4e4e4;
    height: 155px;
    padding: 5px;
}

#popubox .card-item{
    flex: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    
}

/* activite */
#activite {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    border-radius: 20px;
    margin-top: 20px;
    padding-left: 20px;
    margin-right: 20px;
}
#activite h4 {
    
    margin-left: 20px;
    margin-top: 10px; 
    padding-bottom: 10px;
}
#activite .card {
    display: flex;
    object-fit: cover;
    flex-direction: column;
    flex: 30%;
    background-color: white;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    box-shadow: 5px 2px 5px #e4e4e4;
}
#activite .card img {
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 211px;
}
#activite h2 {
    width: 100%;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.zcard .card{
    flex: 30%;
    height: 530px;
}
.zcard .card img{
    flex: 30%;
    height: 700px;  
}
/* Footer */
footer ul {
    list-style-type: none;
    margin-top: 20px;
}


footer a {
    text-decoration: none;
    color: black;
}

footer li {

    margin-top: 10px;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    background-color: #F2F2F2;
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: 'raleway', arial;
    margin-top: 10px;
    padding-left: 40px;
}

.footer1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 300px;
}

@media all and (max-width: 992px) {
    #blocus {
        width: auto;
    }
    header {
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
    }
    #titre_principal {
        display: flex;
        flex-direction: column;
        
    }
    #logo {
        display: flex;
        flex-direction:column;
        align-items: baseline;
        margin-bottom: 10px;
    }
   .sector{
       margin-left: 20px;
   }
   .sector h1{
       margin-top: 30px;
       font-size: 25px;
   }
    #searchbar{
        margin-left: 20px;
    }
    #searchbar .bouton{
        
        border-radius: 12.5px;
        width:40px;
       
    }
    #searchbar .champ{
        margin-right: -10px;
    }
    
    nav ul {
        list-style-type: none;
    }
    
    nav li {
        margin-right: 0px;
        
        justify-content: center;
        align-items: center;
        
       
    }
    
    nav a {
       
        text-decoration: none;
        color: black;
        border-bottom: 2px #DEEBFF solid;
        text-align: center;
        padding-bottom: 10px;
        padding-right: 51px;
        padding-left: 51px;
    }
    
    nav a:hover {
        border-top: none;
        border-bottom: 2px #0065Fc solid;
        padding-top: 0px;
        padding-bottom: 10px;
        color: #0065Fc;
    }


    body {
        width: auto;
    }
    #filtres {
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 20px;
    
    }

    .floyd{
        margin-left: 20px;
    }


    #filtres h2 {

        width: 100%;;
        font-size: 120%;
    
    }

    #filtres .economique {
        padding-right: 15px;
        margin-top: 10px;
        margin-right: 10px;
    }

    #filtres .fas {

        margin-right: 10px;
    
    }


    .cardcard {
    display:flex;
    flex-direction: column-reverse;
    
    }

    #cardbox{
        height: auto;
        background-color: white;
    }

    #popubox{
        height: auto;
        padding-bottom: 10px;
        border-radius: 0px;
        margin-right: 0px;
        margin-left:0px;  
    }
    #popubox .card-item{
        flex:30%;
    }
    #popubox h4{
        font-size: 15.5px;

   }
   #popubox p{
    margin-top: 8px;

}
    #cardbox .card {
        flex-direction: column;
        flex: auto;

    }
    

    #activite .card img {
        width: 100%;
        object-fit:cover;
        height: 180px;
    }
    .zcard .card{
        height: auto;
    }

    button::before{
        font-family: "Font Awesome 5 pro";
        font-weight: 400;
        content: "\f002";  
    }
    #activite {
        flex-direction: column;
    }
    .zcard .card{
        flex: 30%;
        height: 211px;
    }

    footer {
        flex-direction: column;
        padding-left: 0px;
        padding-top: 0px;
    }

    .footer1 {
        padding-left: 40px;
        padding-top: 50px;
        padding-right: 0px;
    }
}